[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pydocstyle = "*"
pep8 = "*"
tbvcfreport = {editable = true,path = "."}
tox = "*"

[packages]
click = ">=8.0.1"
flake8 = ">=3.9.2"
neo4j = ">=4.2.1"
pytest = ">=6.2.4"
Jinja2 = ">=3.0.1"
PyVCF = "==0.6.8"


[requires]
python_version = ">=3.6"
